{% extends "layout/default.html" %}

{% set title = _("Home") %}

{% block body %}

{% if g.user.tutorial == 0 %}
    <a class="btn {{g.color}}" onclick="launch_tutorial();" name="button">{{_("Tutorial")}}</a>
{% endif %}

<ul class="hide-on-med-and-down">
  {% if boxs == [] %}
    <h3>{{_("You have not widgets : ")}}<a href="{{url_for('core.widgets')}}">{{_("Add")}}</a></h3>
  {% else %}
    <div class="row">
        {% for box in boxs %}
        <div class="col s4">
          <div class="card {{ box.color }} z-depth-5">
            <div class="card-content">
              <span class="card-title">{{_(box.name)}}</span>
              <p>{{ get_widget(box.url)|safe }}</p>
            </div>
            <div class="card-action">
              <a href="{{url_for(box.see_more)}}">{{_("See More")}}</a>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
  {% endif %}
</ul>

<script type="text/javascript">
  function launch_tutorial(){
    $('.tutorial_index').tapTarget('open');
  }
</script>
{% endblock %}
