{% extends "layout/default.html" %}

{% set title = _("Home") %}

{% block body %}

<a href="{{url_for('core.reboot')}}" class="btn {{buttonColor}}">Reboot</a>


<div class="card-panel white">
{% if boxs == [] %}
  <h3>{{_("You have not widgets : ")}}<a href="{{url_for('core.widgets')}}">{{_("Add")}}</a></h3>
{% else %}
  <div class="row">
      {% for box in boxs %}
      <div class="col s4">
        <div class="card {{ box.color }}">
          <div class="card-content">
            <span class="card-title">{{_(box.name)}}</span>
            <p>{{ get_widget(box.url)|safe }}</p>
          </div>
          <div class="card-action">
            <a href="{{url_for(box.see_more)}}">{{_("See More")}}</a>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
{% endif %}
</div>





{% endblock %}
