{% extends 'transport/ratp/metro/layout.html' %}

{% set title = _("M10") %}

{% block station %} 

<option value="avenue+emile+zola">Avenue Emile Zola</option>
<option value="boulogne+jean+jaures">Boulogne Jean Jaures</option>
<option value="boulogne+pont+de+saint+cloud">Boulogne Pont de Saint-Cloud</option>
<option value="cardinal+lemoine">Cardinal Lemoine</option>
<option value="chardon+lagache">Chardon-Lagache</option>
<option value="charles+michels">Charles Michels</option>
<option value="cluny+la+sorbonne">Cluny La Sorbonne</option>
<option value="duroc">Duroc</option>
<option value="gare+d+austerlitz">Gare d&#039;Austerlitz</option>
<option value="javel+andre+citroen">Javel Andre Citroën</option>
<option value="jussieu">Jussieu</option>
<option value="la+motte+picquet+grenelle">La Motte-Picquet Grenelle</option>
<option value="mabillon">Mabillon</option>
<option value="maubert+mutualite">Maubert Mutualite</option>
<option value="michel+ange+molitor">Michel-Ange Molitor</option>
<option value="mirabeau">Mirabeau</option>
<option value="odeon">Odeon</option>
<option value="sevres+babylone">Sevres-Babylone</option>
<option value="segur">Segur</option>
<option value="vaneau">Vaneau</option>

{% endblock %}

{% block direction %}

<option value="A">Gare d'Austerlitz</option>
<option value="R">Boulogne Pont de Saint-Cloud</option>

{% endblock %}
