{% extends 'transport/ratp/metro/layout.html' %}

{% set title = _("M11") %}

{% block station %} 

<option value="arts+et+metiers">Arts et Metiers</option>
<option value="belleville">Belleville</option>
<option value="goncourt">Goncourt</option>
<option value="jourdain">Jourdain</option>
<option value="mairie+des+lilas">Mairie des Lilas</option>
<option value="pyrenees">Pyrenees</option>
<option value="rambuteau">Rambuteau</option>
<option value="republique">Republique</option>
<option value="telegraphe">Telegraphe</option>
<option value="chatelet">Chatelet</option>
<option value="hotel+de+ville">Hôtel de Ville</option>


{% endblock %}

{% block direction %}

<option value="A">Châtelet</option>
<option value="R">Mairis des Lilas</option>

{% endblock %}