{% extends 'transport/ratp/metro/layout.html' %}

{% set title = _("M12") %}

{% block station %} 

<option value="abbesses">Abbesses</option>
<option value="assemblee+nationale">Assemblee Nationale</option>
<option value="convention">Convention</option>
<option value="corentin+celton">Corentin Celton</option>
<option value="falguiere">Falguiere</option>
<option value="front+populaire">Front Populaire</option>
<option value="jules+joffrin">Jules Joffrin</option>
<option value="lamarck+caulaincourt">Lamarck Caulaincourt</option>
<option value="madeleine">Madeleine</option>
<option value="mairie+d+issy">Mairie d&#039;Issy</option>
<option value="marcadet+poissonniers">Marcadet Poissonniers</option>
<option value="marx+dormoy">Marx Dormoy</option>
<option value="montparnasse+bienvenue">Montparnasse Bienvenüe</option>
<option value="notre+dame+de+lorette">Notre-Dame-de-Lorette</option>
<option value="notre+dame+des+champs">Notre-Dame-des-Champs</option>
<option value="pasteur">Pasteur</option>
<option value="pigalle">Pigalle</option>
<option value="porte+de+versailles">Porte de Versailles</option>
<option value="porte+de+la+chapelle">Porte de la Chapelle</option>
<option value="rennes">Rennes</option>
<option value="rue+du+bac">Rue du Bac</option>
<option value="saint+georges">Saint-Georges</option>
<option value="saint+lazare">Saint-Lazare</option>
<option value="solferino">Solferino</option>
<option value="sevres+babylone">Sevres-Babylone</option>
<option value="trinite+d+estienne+d+orves">Trinite d&#039;Estienne d&#039;Orves</option>
<option value="vaugirard">Vaugirard</option>
<option value="volontaires">Volontaires</option>
<option value="concorde">Concorde</option>

{% endblock %}

{% block direction %}

<option value="A">Front Populaire</option>
<option value="R">Mairie d'Issy</option>

{% endblock %}