{% extends 'transport/ratp/metro/layout.html' %}

{% set title = _("M3") %}

{% block station %} 

<option value="anatole+france">Anatole France</option>
<option value="arts+et+metiers">Arts et Metiers</option>
<option value="bourse">Bourse</option>
<option value="europe">Europe</option>
<option value="gallieni">Gallieni</option>
<option value="gambetta">Gambetta</option>
<option value="havre+caumartin">Havre-Caumartin</option>
<option value="louise+michel">Louise Michel</option>
<option value="malesherbes">Malesherbes</option>
<option value="opera">Opera</option>
<option value="parmentier">Parmentier</option>
<option value="pereire">Pereire</option>
<option value="pont+de+levallois+becon">Pont de Levallois Becon</option>
<option value="porte+de+bagnolet">Porte de Bagnolet</option>
<option value="pere+lachaise">Pere Lachaise</option>
<option value="quatre+septembre">Quatre-Septembre</option>
<option value="rue+saint+maur">Rue Saint-Maur</option>
<option value="reaumur+sebastopol">Reaumur-Sebastopol</option>
<option value="republique">Republique</option>
<option value="saint+lazare">Saint-Lazare</option>
<option value="sentier">Sentier</option>
<option value="temple">Temple</option>
<option value="villiers">Villiers</option>
<option value="wagram">Wagram</option>

{% endblock %}

{% block direction %}

<option value="A">Pont de Levallois bécon</option>
<option value="R">Gallieni</option>

{% endblock %}