{% extends 'transport/ratp/metro/layout.html' %}

{% set title = _("M5") %}

{% block station %} 

<option value="bobigny+pablo+picasso">Bobigny Pablo Picasso</option>
<option value="bobigny+pantin+raymond+queneau">Bobigny-Pantin Raymond Queneau</option>
<option value="breguet+sabin">Breguet-Sabin</option>
<option value="campo+formio">Campo-Formio</option>
<option value="eglise+de+pantin">Eglise de Pantin</option>
<option value="gare+d+austerlitz">Gare d&#039;Austerlitz</option>
<option value="gare+de+l+est">Gare de l&#039;Est</option>
<option value="gare+du+nord">Gare du Nord</option>
<option value="hoche">Hoche</option>
<option value="jacques+bonsergent">Jacques Bonsergent</option>
<option value="jaures">Jaures</option>
<option value="laumiere">Laumiere</option>
<option value="oberkampf">Oberkampf</option>
<option value="ourcq">Ourcq</option>
<option value="place+d+italie">Place d&#039;Italie</option>
<option value="porte+de+pantin">Porte de Pantin</option>
<option value="quai+de+la+rapee">Quai de la Rapee</option>
<option value="richard+lenoir">Richard-Lenoir</option>
<option value="republique">Republique</option>
<option value="saint+marcel">Saint-Marcel</option>
<option value="stalingrad">Stalingrad</option>
<option value="bastille">Bastille</option>

{% endblock %}

{% block direction %}

<option value="A">Place d'Italie</option>
<option value="R">Bobigny Pablo Picasso</option>

{% endblock %}
