{% extends 'transport/ratp/metro/layout.html' %}

{% set title = _("M6") %}

{% block station %} 

<option value="bel+air">Bel-Air</option>
<option value="bercy">Bercy</option>
<option value="bir+hakeim">Bir-Hakeim</option>
<option value="boissiere">Boissiere</option>
<option value="cambronne">Cambronne</option>
<option value="chevaleret">Chevaleret</option>
<option value="corvisart">Corvisart</option>
<option value="daumesnil">Daumesnil</option>
<option value="denfert+rochereau">Denfert-Rochereau</option>
<option value="dugommier">Dugommier</option>
<option value="dupleix">Dupleix</option>
<option value="edgar+quinet">Edgar Quinet</option>
<option value="glaciere">Glaciere</option>
<option value="kleber">Kleber</option>
<option value="la+motte+picquet+grenelle">La Motte-Picquet Grenelle</option>
<option value="montparnasse+bienvenue">Montparnasse Bienvenüe</option>
<option value="nationale">Nationale</option>
<option value="passy">Passy</option>
<option value="pasteur">Pasteur</option>
<option value="picpus">Picpus</option>
<option value="place+d+italie">Place d&#039;Italie</option>
<option value="quai+de+la+gare">Quai de la Gare</option>
<option value="raspail">Raspail</option>
<option value="saint+jacques">Saint-Jacques</option>
<option value="sevres+lecourbe">Sevres-Lecourbe</option>
<option value="trocadero">Trocadero</option>
<option value="charles+de+gaulle+etoile">Charles de Gaulle Etoile</option>
<option value="nation">Nation</option>

{% endblock %}

{% block direction %}

<option value="A">Charles de Gaule Etoile</option>
<option value="R">Nation</option>

{% endblock %}