{% extends 'transport/ratp/metro/layout.html' %}

{% set title = _("M7") %}

{% block station %} 

<option value="aubervilliers+pantin+quatre+chemins">Aubervilliers Pantin Quatre Chemins</option>
<option value="cadet">Cadet</option>
<option value="censier+daubenton">Censier Daubenton</option>
<option value="chaussee+d+antin+la+fayette">Chaussee d&#039;Antin La Fayette</option>
<option value="chateau+landon">Chateau-Landon</option>
<option value="corentin+cariou">Corentin Cariou</option>
<option value="crimee">Crimee</option>
<option value="fort+d+aubervilliers">Fort d&#039;Aubervilliers</option>
<option value="gare+de+l+est">Gare de l&#039;Est</option>
<option value="jussieu">Jussieu</option>
<option value="la+courneuve 8 mai 1945">La Courneuve 8 mai 1945</option>
<option value="le+kremlin+bicetre">Le Kremlin-Bicêtre</option>
<option value="le+peletier">Le Peletier</option>
<option value="les+gobelins">Les Gobelins</option>
<option value="louis+blanc">Louis Blanc</option>
<option value="mairie+d+ivry">Mairie d&#039;Ivry</option>
<option value="maison+blanche">Maison Blanche</option>
<option value="opera">Opera</option>
<option value="pierre+et+marie+curie">Pierre et Marie Curie</option>
<option value="place+monge">Place Monge</option>
<option value="place+d+italie">Place d&#039;Italie</option>
<option value="poissonniere">Poissonniere</option>
<option value="pont+marie">Pont Marie</option>
<option value="pont+neuf">Pont Neuf</option>
<option value="porte+d+italie">Porte d&#039;Italie</option>
<option value="porte+d+ivry">Porte d&#039;Ivry</option>
<option value="porte+de+choisy">Porte de Choisy</option>
<option value="porte+de+la+villette">Porte de la Villette</option>
<option value="pyramides">Pyramides</option>
<option value="riquet">Riquet</option>
<option value="stalingrad">Stalingrad</option>
<option value="sully+morland">Sully-Morland</option>
<option value="tolbiac">Tolbiac</option>
<option value="villejuif+louis+aragon">Villejuif+Louis Aragon</option>
<option value="villejuif+leo+lagrange">Villejuif Leo Lagrange</option>
<option value="villejuif+paul+vaillant+couturier">Villejuif Paul Vaillant-Couturier</option>
<option value="chatelet">Chatelet</option>
<option value="palais+royal+musee+du+louvre">Palais Royal Musee du Louvre</option>

{% endblock %}

{% block direction %}

<option value="A">Mairie d'Ivry - Villejuif Louis Aragon</option>
<option value="R">La Courneuve 8 mai 1945</option>

{% endblock %}