{% extends 'transport/ratp/metro/layout.html' %}

{% set title = _("M7b") %}

{% block station %} 

<option value="bolivar">Bolivar</option>
<option value="botzaris">Botzaris</option>
<option value="buttes+chaumont">Buttes Chaumont</option>
<option value="danube">Danube</option>
<option value="jaures">Jaures</option>
<option value="louis+blanc">Louis Blanc</option>
<option value="pre+saint+gervais">Pre-Saint-Gervais</option>

{% endblock %}

{% block direction %}

<option value="A">Louis Blanc</option>
<option value="R">Pré-St-Gervais</option>

{% endblock %}