{% extends 'transport/ratp/metro/layout.html' %}

{% set title = _("M8") %}

{% block station %} 

<option value="balard">Balard</option>
<option value="bonne+nouvelle">Bonne Nouvelle</option>
<option value="boucicaut">Boucicaut</option>
<option value="charenton+ecoles">Charenton-Ecoles</option>
<option value="chemin+vert">Chemin Vert</option>
<option value="commerce">Commerce</option>
<option value="creteil+l+echat">Creteil-L&#039;Echat</option>
<option value="creteil+prefecture">Creteil-Prefecture</option>
<option value="creteil+universite">Creteil-Universite</option>
<option value="daumesnil">Daumesnil</option>
<option value="ecole+militaire">Ecole Militaire</option>
<option value="ecole+veterinaire+de+maisons+alfort">Ecole Veterinaire de Maisons-Alfort</option>
<option value="faidherbe+chaligny">Faidherbe-Chaligny</option>
<option value="filles+du+calvaire">Filles du Calvaire</option>
<option value="felix+faure">Felix Faure</option>
<option value="grands+boulevards">Grands Boulevards</option>
<option value="invalides">Invalides</option>
<option value="la+motte+picquet+grenelle">La Motte-Picquet Grenelle</option>
<option value="la+tour+maubourg">La Tour-Maubourg</option>
<option value="ledru+rollin">Ledru-Rollin</option>
<option value="liberte">Liberte</option>
<option value="lourmel">Lourmel</option>
<option value="madeleine">Madeleine</option>
<option value="maisons+alfort+les+juilliottes">Maisons-Alfort Les Juilliottes</option>
<option value="maisons+alfort+stade">Maisons-Alfort Stade</option>
<option value="michel+bizot">Michel Bizot</option>
<option value="montgallet">Montgallet</option>
<option value="opera">Opera</option>
<option value="pointe+du+lac">Pointe du Lac</option>
<option value="porte+doree">Porte Doree</option>
<option value="porte+de+charenton">Porte de Charenton</option>
<option value="richelieu+drouot">Richelieu-Drouot</option>
<option value="republique">Republique</option>
<option value="saint+sebastien+froissart">Saint-Sebastien Froissart</option>
<option value="strasbourg+saint+denis">Strasbourg-Saint-Denis</option>
<option value="bastille">Bastille</option>
<option value="concorde">Concorde</option>
<option value="reuilly+diderot">Reuilly-Diderot</option>

{% endblock %}

{% block direction %}

<option value="A">Pointe du lac</option>
<option value="R">Balard</option>

{% endblock %}