{% extends 'transport/ratp/metro/layout.html' %}

{% set title = _("M9") %}

{% block station %} 

<option value="alma+marceau">Alma-Marceau</option>
<option value="billancourt">Billancourt</option>
<option value="bonne+nouvelle">Bonne Nouvelle</option>
<option value="buzenval">Buzenval</option>
<option value="charonne">Charonne</option>
<option value="chaussee+d+antin+la+fayette">Chaussee d&#039;Antin La Fayette</option>
<option value="croix+de+chavaux">Croix de Chavaux</option>
<option value="exelmans">Exelmans</option>
<option value="grands+boulevards">Grands Boulevards</option>
<option value="havre+caumartin">Havre-Caumartin</option>
<option value="iena">Iena</option>
<option value="jasmin">Jasmin</option>
<option value="la+muette">La Muette</option>
<option value="mairie+de+montreuil">Mairie de Montreuil</option>
<option value="maraichers">Maraîchers</option>
<option value="marcel+sembat">Marcel Sembat</option>
<option value="michel+ange+auteuil">Michel-Ange Auteuil</option>
<option value="michel+ange+molitor">Michel-Ange Molitor</option>
<option value="miromesnil">Miromesnil</option>
<option value="oberkampf">Oberkampf</option>
<option value="pont+de+sevres">Pont de Sevres</option>
<option value="porte+de+montreuil">Porte de Montreuil</option>
<option value="porte+de+saint+cloud">Porte de Saint-Cloud</option>
<option value="ranelagh">Ranelagh</option>
<option value="richelieu+drouot">Richelieu-Drouot</option>
<option value="robespierre">Robespierre</option>
<option value="rue+de+la+pompe">Rue de la Pompe</option>
<option value="rue+des+boulets">Rue des Boulets</option>
<option value="republique">Republique</option>
<option value="saint+ambroise">Saint-Ambroise</option>
<option value="saint+augustin">Saint-Augustin</option>
<option value="saint+philippe+du+roule">Saint-Philippe-du-Roule</option>
<option value="strasbourg+saint+denis">Strasbourg-Saint-Denis</option>
<option value="trocadero">Trocadero</option>
<option value="voltaire">Voltaire</option>
<option value="franklin+d+roosevelt">Franklin D. Roosevelt</option>
<option value="nation">Nation</option>

{% endblock %}

{% block direction %}

<option value="A">Mairie de Montreuil</option>
<option value="R">Pont de Sèvre</option>

{% endblock %}
