{% extends 'layout/default.html' %}

{% block body %}
<br>
<div class="card-panel {{g.panel_color}}">
<br>
<form method="post" action="">
	<label for="metrostation" class='{{g.text_color}}'>{{_("Station Name")}} : </label>
	<select name="metrostation" class="browser-default" id="metrostation">
		<option value='--{{_("Station Name")}}--'>--{{_("Station Name")}}--</option>
		{% block station %}{% endblock %}
	</select>
	<label for="metrodirection" class='{{g.text_color}}'>{{_("Direction")}} : </label>
	<select name="metrodirection" class="browser-default" id="metrodirection">

		<option value='--{{_("Direction")}}--'>--{{_("Direction")}}--</option>
		{% block direction %}{% endblock %}
	</select><br>
	<button class="btn {{ g.color }}" type="submit"><span class="glyphicon glyphicon-ok-sign"></span>{{_("Send")}}</button>
	<br>
</form>
</br>
</div>

{% endblock %}
