{% extends 'layout/login.html' %}

{% set title = _("Home") %}

{% block body %}

<link href="{{ url_for('static', filename='css/materialize.css') }}" rel="stylesheet" type="text/css" />

<style type="text/css">
    body {
        background-image: url(/static/img/login/login.jpg);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;      
    }
    .content{
        text-align: center;
        margin-top: 25%;
    }
</style>




	<h1 style="color: white;">{{_("Welcome to Onyx")}}</h1>
    <form action="http://www.google.com/search" target="_blank" METHOD="GET">
        <input  type="text" name="q" VALUE SIZE="31" MAXLENGTH="255" placeholder="{{_('Search')}}">
        <input type="submit" class="btn " value="{{_('Search')}}">
    </form> 
    </br>
	<a href="{{ url_for('auth.login') }}" class="btn " >{{_("Login")}}</a>
	<a href="{{ url_for('auth.register') }}" class="btn " >{{_("Register")}}</a>

	

 


{% endblock %}