{% extends "layout/login.html" %}

{% set title = _("Login") %}

{% block body %}

<style type="text/css">
    body {
        background-image: url(/static/img/login/login.jpg);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>

<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css" />

<div class="login-page">
<form class="register-form" method=post action="">
<div class="form">
    <input type="text" id="email" name="email"
          placeholder="{{_('Email')}}" required>
    <input type="password" id="password" name="password" class="input-xlarge"
          placeholder="{{_('Password')}}" required>
    <button data-no-turbolink="true">{{_("Login")}}</button>
  </form>
</div>
</div>


{% endblock %}
