{% extends "layout/login.html" %}

{% set title = _("Register") %}

{% block body %}

<style type="text/css">
    body {
        background-image: url(/static/img/login/login.jpg);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>

<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css" />

<div class="login-page">
 <form class="register-form" method=post action="">
 <div class="form">
    <input type="text" id="username" name="username"
           placeholder="{{_('Name')}}" value="{{ request.form.username }}"
           required>

    <input type="email" id="email" name="email" class="input-xlarge"
           placeholder="{{_('Email')}}" value="{{ request.form.email }}"
           required>

     <input type="password" id="password" name="password"
           placeholder="{{_('Password')}}" value="{{ request.form.password }}"
           required>

     <input type="password" id="verifpassword" name="verifpassword"
           placeholder="{{_('Confirm password')}}" value="{{ request.form.verifpassword }}"
           required>

     <button>{{_("Register")}}</button>
   </form>
 </div>
</div>
{% endblock %}
