{% extends "layout/default.html" %}

{% set title = _("Widgets") %}

{% block body %}
<div class="card-panel {{g.panel_color}}">
	<h1 class="{{g.text_color}}">{{ _("Widgets") }}</h1>
	<h3 class="{{g.text_color}}">{{_("Add")}}</h3>

	<form action="" method="post">
		<label for="box" class="{{g.text_color}}">{{_("Widgets")}}</label>
		<select name="box" class="browser-default">
			{% for box in list %}
					<option value="{{box.name}}|{{box.url}}|{{box.see_more}}">{{box.name}}</option>
			{% endfor %}
		</select><br>
		<button type="submit" class="btn {{g.color}}">{{_("Add")}}</button>
	</form>


  <div class="row">
			{% for box in boxs %}
			<div class="col m4 s12">
			  <div class="card {{ box.color }} z-depth-5">
					<div class="card-content">
			      <span class="card-title">{{_(box.name)}}</span>
						<a href="{{ url_for('core.widget_delete' , id=box.id) }}" class="secondary-content"><i class="fa fa-times" aria-hidden="true"></i></a>
						<p>{{ get_widget(box.url)|safe }}</p>
					</div>
					<div class="card-action">
						<a href="{{url_for(box.see_more)}}">{{_("See More")}}</a>
					</div>
				</div>
			</div>
			{% endfor %}
  </div>

</div>
{% endblock %}
