*.py[co]
__pycache__

*.mo
*.dropbox.attr
venv
onyxproject.egg-info
dist

/onyx/data/*
!/onyx/data/.gitkeep
/onyx/flask_config.py
/onyx/config/install.cfg
/onyx/db/*
!/onyx/db/.gitkeep
/db/*
!/db/.gitkeep
/onyx/plugins/*
!/onyx/plugins/__init__.py