*.py[co]
__pycache__
*.pyc
.cache
.vscode

.git

*.mo
*.dropbox.attr
venv
venv-dev
venv-prod
onyxproject.egg-info
dist

sentence_tokenizer.pickle

/onyx/client/speech/assets/_snowboydetect.so
/onyx/client/speech/assets/snowboydetect.py
/onyx/data/*
/onyx/app_config.py
/onyx/config/onyx.cfg
/onyx/db/*
!/onyx/db/.gitkeep
/db/*
!/db/.gitkeep
