# Base
pytz
vine
jsonschema
aiml
pytest
kombu
billiard
wtforms
aniso8601
pylibmc
Babel
Flask==0.10
onyxbabel
Flask-FlatPages
Flask-Mail
Flask-Script
Flask-WTF
Jinja2
Markdown
PyYAML
colorlog
Werkzeug
itsdangerous
requests
speaklater
flask_restplus
pycrypto
jsonify
factory-boy==2.8.1
wikipedia
migrate
bs4
python-memcached
psutil
uptime
configparser
flask-apidoc
gitpython
onyxjokes

# Cache and Celery
Flask-Cache
redis
celery

# SQLAlchemy
flask-restless
onyx_sqlalchemy
flask_migrate
SQLAlchemy-migrate

# auth
Flask-Login

SpeechRecognition
gtts

#Test
webtest
