# Base
pytz
vine
jsonschema
aiml
pytest
kombu
billiard
wtforms
aniso8601
pylibmc
Babel
Flask
onyxbabel
Flask-FlatPages
Flask-Mail
Flask-Script
Flask-WTF
Jinja2
Markdown
PyYAML
colorlog
Werkzeug
itsdangerous
flask_jwt_extended
requests
speaklater
pycrypto
jsonify
factory-boy==2.8.1
wikipedia
migrate
bs4
python-memcached
psutil
uptime
configparser
flask-apidoc
gitpython
chatterbot

# Cache and Celery
Flask-Cache
redis
celery

# SQLAlchemy
flask-restless
onyx_sqlalchemy
flask_migrate
SQLAlchemy-migrate

# auth
Flask-Login

#Voice
PyAudio==0.2.11
SpeechRecognition
gtts

#Test
webtest
geopy

chatterbot_corpus

pyee==1.0.1
tornado==4.2.1
websocket-client==0.32.0
xmlrunner==1.7.7
pyserial==3.0
netifaces==0.10.4
pep8==1.7.0
multi_key_dict==2.0.3
wifi==0.3.8
pyroute2==0.4.5
urllib5==5.0.0
pyric==0.1.6
inflection==0.3.1
pystache
pyalsaaudio
parsedatetime
apiclient
google-api-python-client
onyx-parser
