{% extends "layout/default.html" %}

{% set title = _("Weather") %}

{% block body %}

	<div class="card-panel {{g.panel_color}}">
		<h1 class='{{g.text_color}}'>{{ _("Weather") }}</h1>

		<form action="{{url_for('core.weather')}}" method="POST">
			<div class="row">
				<select onChange="changePos()" name="house" id="houses" class="browser-default col m3 s12">
					<option default value="no">{{ _("No House") }}</option>
					{% for house in g.houses %}
							<option value="{{house.latitude}}|{{house.longitude}}">{{house.name}}</option>
					{% endfor %}
				</select>
			

					<input placeholder="{{_('Longitude')}}" class="col m3 s6" type="text" id="longitude" name="longitude" required>
					<input placeholder="{{_('Latitude')}}" class="col m3 s6" type="text" id="latitude" name="latitude" required>

					<div class="col m3 s12">
						<a href="#" onClick="getLocation();" class="btn {{ g.color }} " >{{_('Position')}}</a>
						<button class="btn {{ g.color }} " >{{_('Send')}}</button>
					</div>
				</div>
		</form>

		<br><br>
		{% if result is defined %}
			<img src="{{ url_for('static', filename='img/weather/' + img) }}" style="width: 20%; height: 20%;"><br>
			<h3>{{result}} °</h3>
		{% endif %}
	</div>

{% endblock %}

{% block script %}


<script>
		var lon = document.getElementById("longitude");
		var lat = document.getElementById("latitude");
		function getLocation() {
		  if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(showPosition);
		  } else {
			alert("Geolocation is not supported by this browser.");
		  }
		}
		
		function showPosition(position) {
		  lon.value = position.coords.longitude;
		  lat.value = position.coords.latitude
		}

		function changePos(){
			var select = document.getElementById("houses");
			var val = select.value.split("|");
			if (val != "no"){
				lon.value = val[1];
		  		lat.value =val[0];
			}
		}
</script> 

{% endblock %}