<div class="row">
  <div class="container">
    <div id="search">
      <form method=post action="{{ url_for('core.action') }}">
        <input id="searchInput" class="autocomplete" type="search" name="q" placeholder="{{_('What I can do for you ?')}}"  />
      </form>
      <p id="searchResult"></p>
    </div>
  </div>
</div>
<script type="text/javascript">

  $( function() {
    var action = {{ g.action | safe }};
    $( ".autocomplete" ).autocomplete({
      source: action
    });
  } );

</script>