<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="row">
  <div class="container">
    <div id="search">
      <form method=post action="{{ url_for('core.sentence', next=g.next) }}">
        <input id="searchInput" class="autocomplete" type="search" name="q" placeholder="{{_('What can I do for you ?')}}"  />
      </form>
      <p id="searchResult"></p>
    </div>
  </div>
</div>

<script>
$( function() {

  var availableTags = {{g.action|safe}} ;
  $( ".autocomplete" ).autocomplete({
    source: availableTags
  });
} );
</script>
