<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"> \
	{% include 'dependencies/css_login.html' %} 
	{% include 'dependencies/flash.html' %}
    <!-- Include flash -->
    <title>{{ title + ' | Onyx'|default('Onyx') }}</title>
</head>

<body>
    <div class="container">
        <div class="content">{% block body %}{% endblock %}</div>
    </div>
    {% include 'dependencies/js_login.html' %}
</body>
</html>