{% extends 'layout/default.html' %}

{% set title = _("Utilities") %}


{% block css %}

	<link href="{{ url_for('static', filename='css/creative.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}

<div class="card-panel row {{g.panel_color}}">

	<h1 class='{{g.text_color}}'>{{_("Utilities")}}</h1>

	
	<!-- Random -->
	<div class="col s12">
		<h3 class='{{g.text_color}}'>{{_("Randomizer")}}</h3>
		<div class="row">
			<input type="text" class="col m3" placeholder="{{_('Min')}}" id="min">
			<input type="text" class="col m3" placeholder="{{_('Max')}}" id="max">

			<div class="col m3">{{_('Result')}}<p id="result"></p></div>
			<button class="col m3 btn {{g.color}}" onClick="getRandom()">{{_('Generate')}}</button>
		</div>
	</div>
	
	<!-- Calculator -->
	<h3 class='{{g.text_color}}'>{{_("Calculator")}}</h3>
	<div class="col s12 m6 offset-m3">
			<div class="col calculator">
				<div class="row">
					<div class="displayBox {{g.color}}">
						<p class="displayText" id="display">0</p>
					</div>
					<div class="numberPad">
						<div class="col s9 m9">
							<div class="row">
								<button class="btn clear hvr-back-pulse {{g.color}}" id="clear">C</button>
								<button class="btn btn-calc hvr-radial-out" id="sqrt">√</button>
								<button class="btn btn-calc hvr-radial-out hvr-radial-out" id="square">x<sup>2</sup></button>
								<button class="btn btn-calc hvr-radial-out" id="plus_minus">&#177;</button>
							</div>
							<div class="row">
								<button class="btn btn-calc hvr-radial-out" id="seven">7</button>
								<button class="btn btn-calc hvr-radial-out" id="eight">8</button>
								<button class="btn btn-calc hvr-radial-out" id="nine">9</button>
								<button class="btn btn-calc hvr-radial-out" id="decimal">.</button>
								
							</div>
							<div class="row">
								<button class="btn btn-calc hvr-radial-out" id="four">4</button>
								<button class="btn btn-calc hvr-radial-out" id="five">5</button>
								<button class="btn btn-calc hvr-radial-out" id="six">6</button>
								<button class="btn btn-calc hvr-radial-out" ></button>
							</div>
							<div class="row">
								<button class="btn btn-calc hvr-radial-out" id="one">1</button>
								<button class="btn btn-calc hvr-radial-out" id="two">2</button>
								<button class="btn btn-calc hvr-radial-out" id="three">3</button>
								<button class="btn btn-calc hvr-radial-out" id="zero">0</button>
							</div>
						</div>
						<div class="col s3 m3 operationSide">
							<button id="divide" class="btn btn-operation hvr-fade">÷</button>
							<button id="multiply" class="btn btn-operation hvr-fade">×</button>
							<button id="subtract" class="btn btn-operation hvr-fade">−</button>
							<button id="add" class="btn btn-operation hvr-fade">+</button>
							<button id="equals" class="btn btn-operation equals hvr-back-pulse {{g.color}}">=</button>
						</div>
					</div>
				</div>
			</div>

	</div>

</div>


{% endblock %}

{% block script %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/calculate.js') }}"></script>

	<script>
		function getRandom(){
			var min = Number(document.getElementById('min').value);
			var max = Number(document.getElementById('max').value);

			document.getElementById("result").innerHTML = Math.floor((Math.random() * max) + min);

		}
	</script>
{% endblock %}