
  
  a:hover, a:focus {
    text-decoration: none;
  }
  
  a, .btn {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }
  

  :focus {
    outline: none;
    box-shadow: 0px 0px 0px transparent;
  }
  
  .calculator {
    background: #F0F0F0;
    box-shadow: 2px 3px 6px #212121;
  }
  
  .displayBox {
    /*background: #455A64;*/
    padding: 0;
    min-height: 220px;
    overflow: hidden;
  }
  
  .displayText {
    margin-top: 110px;
    background: transparent;
    border: none;
    color: #FFF;
    font-size: 80px;
    font-weight: 100;
    padding-right: 20px;
    padding-bottom: -10px;
    float: right;
    display: inline-block;
    overflow: hidden;
  }
  
  .operationSide {
    background: #FFF;
    margin-top: -14px;
    padding: 0;
    padding-left: -20px;
    padding-top: 10px;
    border-left: 1px solid #E5E5E5;
  }
  
  .numberPad {
    padding-top: 14px;
  }
  
  .btn-calc, .btn-calc:focus {
    background: transparent;
    color: #A2A2A2;
    font-size: 25px;
    width: 75px;
    height: 75px;
    font-weight: 100;
    border-radius: 100px;
    outline: none;
    box-shadow: 0px 0px 0px transparent;
    border: none;
  }
  
  .btn-calc:hover {
    background: #FFF;
    /*color: #455A64;*/
  }
  
  .btn-operation {
    background: transparent;
    color: #999;
    font-size: 25px;
    /*width: 97px;*/
    width: 100%;
    height: 80.8px;
    font-weight: 100;
    border-radius: 0;
    outline: none;
    box-shadow: 0px 0px 0px transparent;
  }
  
  .btn-operation:focus {
    background: #E8E8E8;
    color: #444;
    outline: 0;
  }
  
  .btn-operation:hover {
    background: #E8E8E8;
    color: #444;
  }
  
  .equals, .equals:focus {
    /*background: #455A64;*/
    color: #FFF;
  }
  
  .equals:hover {
    /*background: #455A64;*/
    color: #FFF;
  }
  
  .clear, .clear:focus {
    /*background: #455A64 !important;*/
    color: #FFF;
    font-size: 25px;
    width: 75px;
    height: 75px;
    font-weight: 100;
    border-radius: 100px;
    outline: none;
    box-shadow: 0px 0px 0px transparent;
    border: transparent;
  }
  
  .clear:hover {
    /*background: #455A64;*/
    color: #FFF;
  }
  
  .btn-question, .btn-question:focus {
    z-index: 100;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: transparent;
    border: 2px solid #FFF;
    padding-top: 6px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 18px;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .btn-question:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #FFF;
  }
  
  :focus {
    outline: none !important;
  } 
  
  ::-moz-focus-inner {
    border: 0 !important;
  }
  
  /* MEDIA QUERIES */
  
  @media only screen and (max-width: 768px) {

    .calculator {
      height: 590px;
      box-shadow: 2px 3px 6px #888;
    }
    .displayBox {
      height: 150px;
    }
    .displayText {
      margin-top: 80px;
      font-size: 50px;
    }
    .btn-calc, .btn-calc:focus {
      width: 70px;
      height: 70px;
      font-size: 18px;
    }
    .operationSide {
      padding: 0;
    }
    .btn-operation, .btn-operation:focus {
      width: 60px;
      height: 60px;
      font-size: 18px;
    }
    .clear, .clear:focus {
      width: 70px;
      height: 70px;
      font-size: 18px;
    }
    .equals, .equals:focus {
      width: 62px;
      height: 63px;
      margin-top: 1px;
    }
    .modal-dialog {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 1440px) {

    .btn-calc, .clear, .btn-calc:focus, .clear:focus {
      width: 80px;
      height: 80px;
    }
    .equals, .equals:focus {
      width: 100%;
      height: 96px;
    }
  }
  
  .hvr-radial-out:before {
    background: #FFF !important;
    border-radius: 100%;
    transition-duration: 0.5s;
  }
  
  .hvr-fade:before {
    background: #FFF !important;
    transition-duration: 0.5s;
  }
  
  
  