{% extends 'transport/ratp/rer/layout.html' %}

{% set title = _("RER B") %}

{% block station %} 

<option value="Aeroport Ch.De Gaulle 1">Aeroport Ch.De Gaulle 1</option>
<option value="Aeroport Ch.De Gaulle 2">Aeroport Ch.De Gaulle 2</option>
<option value="Antony">Antony</option>
<option value="arcueil+cachan">Arcueil Cachan</option>
<option value="Aubervilliers">Aubervilliers</option>
<option value="Aulnay Sous Bois">Aulnay Sous Bois</option>
<option value="Bagneux">Bagneux</option>
<option value="Blanc-Mesnil">Blanc-Mesnil</option>
<option value="Bourg la Reine">Bourg la Reine</option>
<option value="Bures Sur Yvette">Bures Sur Yvette</option>
<option value="Chatelet">Chatelet</option>
<option value="Cite Universitaire">Cite Universitaire</option>
<option value="Courcelle Sur Yvette">Courcelle Sur Yvette</option>
<option value="Denfert Rochereau">Denfert Rochereau</option>
<option value="Drancy">Drancy</option>
<option value="Fontaine Michalon">Fontaine Michalon</option>
<option value="Fontenay aux Roses">Fontenay aux Roses</option>
<option value="Gare du Nord">Gare du Nord</option>
<option value="Gentilly">Gentilly</option>
<option value="Gif Sur Yvette">Gif Sur Yvette</option>
<option value="La Croix de Berny">La Croix de Berny</option>
<option value="La Hacquiniere">La Hacquiniere</option>
<option value="La Plaine-Stade de France">La Plaine-Stade de France</option>
<option value="Laplace">Laplace</option>
<option value="Le Bourget">Le Bourget</option>
<option value="Le Guichet">Le Guichet</option>
<option value="Les Baconnets">Les Baconnets</option>
<option value="Lozere">Lozere</option>
<option value="Luxembourg">Luxembourg</option>
<option value="Massy Palaiseau">Massy Palaiseau</option>
<option value="Massy Verrieres">Massy Verrieres</option>
<option value="Mitry-Claye">Mitry-Claye</option>
<option value="Orsay Ville">Orsay Ville</option>
<option value="Palaiseau">Palaiseau</option>
<option value="Palaiseau Villebon">Palaiseau Villebon</option>
<option value="Parc de Sceaux">Parc de Sceaux</option>
<option value="Parc des Expositions">Parc des Expositions</option>
<option value="Port Royal">Port Royal</option>
<option value="Robinson">Robinson</option>
<option value="Saint Michel">Saint Michel</option>
<option value="Saint Remy les Chevreuse">Saint Remy les Chevreuse</option>
<option value="Sceaux">Sceaux</option>
<option value="Sevran Beaudottes">Sevran Beaudottes</option>
<option value="Sevran-Livry">Sevran-Livry</option>
<option value="Vert-Galant">Vert-Galant</option>
<option value="Villeparisis Mitry">Villeparisis Mitry</option>
<option value="Villepinte">Villepinte</option>

{% endblock %}

{% block direction %}

<option value="A">Charles-de-Gaulle. Mitry-Claye.</option>
<option value="R">Robinson. Saint-Rémy-lès-Chevreuse.</option>

{% endblock %}

