{% macro get_css(file_name , extension='css') -%}
  {% for file in file_name %}
      <link href="{{ url_for('static', filename='css/' + file + '.' + extension) }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{%- endmacro %}

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />

{{ get_css(['background', 'materialize','font-awesome', 'loader', 'actions', 'utilities', 'fullcalendar.min', 'animate.min',  'icon','color-picker.min']) }}

<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" media="all" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
