{% macro get_js(file_name , extension='js') -%}
  {% for file in file_name %}
      <script src="{{ url_for('static', filename='js/' + file + '.' + extension) }}"></script>
  {% endfor %}
{%- endmacro %}

{{ get_js(['jquery.min', 'jquery-ui.min', 'moment.min', 'wikipedia', 'bot', 'utilities', 'tutorial']) }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/fullcalendar.min.js"></script>

{{ get_js(['gcal', 'materialize', 'lang-all']) }}

<script type="text/javascript">$('.loader').hide();</script>
<script type="text/javascript">$('.button-collapse').sideNav();</script>

<script type="text/javascript">
  $(document).ready(function() {
    var current_route = "{{request.url_rule.endpoint}}";
    var tutorial = "{{g.user.tutorial}}";

    if (tutorial == 0){
      $('.tutorial_'+current_route.split(".")[1]).tapTarget('open');
    }

  });
</script>
